.container6 {
    height: 200px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loader6 {
    width: 150px;
    height: 150px;
    border-top: 10px solid #e74c3c;;
    border-radius: 50%;
    position: relative;
    animation: spin-roll 2s linear infinite;
}

.loader6:before, .loader6:after {
    content: '';
    width: 150px;
    height: 150px;
    position: absolute;
    left: 0;
    top: -10px;
    border-radius: 50%;
    box-sizing: border-box;
}

.loader6:before {
    border-top:  10px solid #e67e22;
    transform: rotate(120deg);
}

.loader6:after {
    border-top:  10px solid #3498db;
    transform: rotate(2400deg);
}

.loader6 span {
    position: absolute;
    width: 150px;
    height: 150px;
    color: #fff;
    text-align: center;
    line-height: 140px;
    color: #e74c3c;
    
    animation: animate 2s linear infinite;
}

@keyframes spin-roll {
    to{
        transform: rotate(360deg);
    }
}
@keyframes animate {
    to{
        transform: rotate(-360deg);
    }
}