.loader2 {
    position: relative;
    width: 120px;
    height: 120px;
    overflow: hidden;
    /* -webkit-box-reflect: below 1px linear-gradient(transparent, #000500); */
    margin-bottom: 50px;
    transition: all 0.8s;
}

.loader2:hover {
    background: #5b3c8d;
    box-shadow: 0 0 5px #5b3c8d,
                0 0 25px #5b3c8d,
                0 0 50px #5b3c8d,
                0 0 200px #5b3c8d;
}

.loader2 span {
    position: absolute;
    /* display: block; */
}

.loader2 span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 10%;
    background: linear-gradient(to right, transparent, #5b3c8d);
    animation: square-anim1 1s linear infinite;
    animation-delay: 0s;
}
@keyframes square-anim1 {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}

.loader2 span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 10%;
    background: linear-gradient(to left, transparent, #5b3c8d);
    animation: square-anim3 1s linear infinite;
    animation-delay: 0s;
}
@keyframes square-anim3 {
    0% {
        left: 100%;
    }
    100% {
        left: -100%;
    }
}

.loader2 span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 10%;
    height: 100%;
    background: linear-gradient(to bottom, transparent, #5b3c8d);
    animation: square-anim2 1s linear infinite;
    animation-delay: 0.5s;
}
@keyframes square-anim2 {
    0% {
        top: -100%;
    }
    100% {
        top: 100%;
    }
}

.loader2 span:nth-child(4) {
    left: 0;
    bottom: -100%;
    width: 10%;
    height: 100%;
    background: linear-gradient(to top, transparent, #5b3c8d);
    animation: square-anim4 1s linear infinite;
    animation-delay: 0.5s;
}
@keyframes square-anim4 {
    0% {
        bottom: -100%;
    }
    100% {
        bottom: 100%;
    }
}
